<br>
<br>
<div class="container" id="intro">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <p >The Institute of Chartered Financial Analysts of India University, Jharkhand popularly known as The ICFAI University, Jharkhand was established under sub-Section (2) of Section 4 of the Institute of Chartered Financial Analysts of India University Act, 2006 (Jharkhand Act 08, 2007). The ICFAI University, Jharkhand, is included in the list of universities maintained by the University Grants Commission (UGC) under Section 2(f) of the UGC Act, 1956, <a href="http://iujharkhand.edu.in/IUJH-UGC.pdf" target="_blank">vide Notification No.F.8-17/2009 (CPP-I)  dated December 16, 2009.</a></p>
        <ul >
            <li>The University is a member of Association of Indian Universities (AIU).</li>
            <li>The University is a member of Confederation of Indian Industry (CII).</li>
            <li>The University is a Member of Association of Indian Management Schools (AIMS).<br>
            <br>
           </li>
        </ul>
        <p >The University is committed to creating and disseminating knowledge and imparting skills in core and frontier areas through innovative educational programs, research, consulting, publishing and industry internships developing a new cadre of citizens with a high level of competence and deep sense of ethics and commitment to the code of professional conduct.&nbsp;<br>
            <br>
            Core values of the University are integrity, respect for individual, student focus and quality.&nbsp;<br>
            <br>
            The Visitor of the University is Her Excellency, The Governor of Jharkhand. The University is administered as per the Act, Statutes and Rules. The Board of Governors is headed by the Chancellor and has Vice-Chancellor and others as members. The Board of Management and the Academic Council are headed by the Vice-Chancellor. The Academic Council is responsible for all academic matters.&nbsp;<br>
            <br>
            The University currently offers undergraduate, postgraduate and doctoral programs in management and Bachelor’s programs in Engineering, Commerce, Science &amp; Technology and Diploma Program in Technology (Polytechnic).&nbsp;<br>
            <br>
            All programs offered by the University have contemporary curriculum, in-line with the latest developments in science, technology and management and as per the changing requirements of industry.&nbsp;<br>
            <br>
            In order to provide hands-on skills to the students, Internship / Project in industry is mandatory part of all programs.&nbsp;<br>
            <br>
        </p>
        <h6 class="clr2"><span class="text-primary">Contact</span></h6>
        <p >The Institute of Chartered Financial Analysts of India University, Jharkhand<br></p>
        <h6 class="clr2"><span class="text-primary">Campus:</span></h6>
        <p >Plot No. 2065, Daladali Chowk,&nbsp;<br>
            Simalia, Near Ring Road, Ranchi-835222.&nbsp;<br>     
            <strong>Email:</strong>&nbsp;info@iujharkhand.edu.in<br>
            <strong>Website:</strong>&nbsp;www.iujharkhand.edu.in&nbsp;<br>
            <strong>Toll free:</strong>&nbsp;1-800-599-0767&nbsp;<br>
            <strong>Phone:</strong>&nbsp;0651-6565601,6565602&nbsp;<br>
            <strong>Mobile:&nbsp;</strong>9204062414  
        </p>
        <h6 class="clr2"><span class="text-primary">City Office:</span></h6>
        <p >Plot No. 2167/A, Opposite IDBI Bank,&nbsp;<br>
            Ashok Nagar, Ranchi – 834002, Jharkhand<br>
        </p>
        <br>
    </div>
          
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          
        <p >In line with the University’s commitment to groom competent professionals, with values, a course on Values and Ethics is made an integral part of the curriculum of all of its programs. Besides, in order to develop skills among the students to think &amp; act entrepreneurially, a course on Entrepreneurship is included in all of its programs.&nbsp;<br></p>
        <h6 class="clr2"><span class="text-primary">Campus</span></h6>
        <p >Campus has administrative and academic blocks with classrooms which are well-equipped with latest audio-visual equipment, video conferencing, broad-band internet, library, laboratories, computer center and wi-fi facility. The campus has also facilities for sports, cultural and other extra-curricular activities.&nbsp;<br>
            <a href="#" target="_blank">Virtual Campus Tour</a>&nbsp;<br>
        </p>
        <h6 class="clr2"><span>Student</span> Handbook</h6>
        <p > Each student will be supplied with a Student Handbook containing all the rules and regulations of the respective programs, including detailed curriculum, academic calendar, etc.&nbsp;</p>
    <div>
     <div>
        <h6 class="clr2"><span>Programs</span> Offered</h6>
            <table class="table table-bordered">
                <tbody>
                    <tr class="danger">
                        <th colspan="2"><span class="style3">Doctoral Program</span></th>
                    </tr>
                    <tr align="left">
                        <td width="200"><a href="#">PhD (Part-time)&nbsp;<br>
                         in Management</a></td>
                        <td width="74">(min 3 yrs-max 6 yrs)</td>
                    </tr>
                    <tr class="danger">
                        <th colspan="2"><span class="style3">PG Programs</span></th>
                    </tr>
                    <tr align="left">
                        <td><a href="#">MBA</a></td>
                        <td>2 Years</td>
                    </tr>
                    <tr align="left">
                        <td><a href="#">MBA (WP)</a></td>
                        <td>2 Years</td>
                    </tr>
                    <tr align="left">
                        <td><a href="#">MCA</a></td>
                        <td>3 Years</td>
                    </tr>
                    <tr align="left">
                        <td><a href="#">MCA (Lateral Entry Program)</a></td>
                        <td>2 Years</td>
                    </tr>
                    <tr class="danger">
                        <th colspan="2"><span class="style3">UG Programs</span></th>
                    </tr>
                    <tr align="left">
                        <td><a href="#">B.Tech</a></td>
                        <td>4 Years</td>
                    </tr>
                    <tr align="left">
                        <td><a href="#">B.Tech (Lateral Entry)</a></td>
                        <td>3 Years</td>
                    </tr>
                 
                    <tr align="left">
                        <td><a href="#">BBA</a></td>
                        <td>3 Years</td>
                    </tr>
                    <tr align="left">
                        <td><a href="#">B.Com (Hons.)</a></td>
                        <td>3 Years</td>
                    </tr>
                    <tr align="left">
                        <td><a href="#">BCA</a></td>
                        <td>3 Years</td>
                    </tr>
                    <tr align="left">
                        <td><a href="#">BA (Hons.) in Journalism &amp; Mass Communication</a></td>
                        <td>3 Years</td>
                    </tr>
                    <tr class="danger">
                        <th colspan="2"><span class="style3">Diploma Program</span></th>
                     </tr>
                    <tr align="left">
                        <td><a href="#">Diploma in Technology (Polytechnic)</a></td>
                        <td>3 Years</td>
                    </tr>
                </tbody>
            </table>
        </div>	
    </div>	  
</div>
 <br>
 <br>
</div>