<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Result
        </button>
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Student Information
        </button>
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Login Information
        </button>
        
      </h5>
    </div>
  </div>
  <div class="card">
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <!-- -----------------------------------start  -->  
        <div class="row">
          <div class="col-lg-2 col-sm-2 ">
            <ul class="list-group">
              <li  class="list-group-item"><a href="#a" class="btn">BCA</a></li>
              <li  class="list-group-item"><a href="#a" class="btn">BBA</a></li>
              <li  class="list-group-item"><a href="#a" class="btn">B.Com</a></li>
              <li  class="list-group-item"><a href="#a" class="btn">MCA</a></li>
              <li  class="list-group-item"><a href="#a" class="btn">MBA</a></li>
            </ul>
          </div>
          <div class="col">
            <div id="#a">
              <div class="row">
                <form style="margin-left:70%"class="form-inline my-2 my-lg-0" action="" method="post">
                  <input class="form-control mr-sm-2" required="required" name="val" type="search" placeholder="Enter UID" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            <form>
            <div class="form-group">
              <label for="uid">UID</label>
              <input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" placeholder="University UID">
              
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input name="name" disabled="disabled" type="text" class="form-control" id="name" placeholder="Name">
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="form-group col-md-4">
                  <label for="inputState">Programe</label>
                  <select  disabled="disabled"  name="programe"id="inputState" class="form-control">
                    <option selected value="bca">BCA</option>
                    <option value="bba">BBA</option>
                    <option value="diploma">Diploma</option>
                    <option value="mca">MCA</option>
                    <option value="mba">MBA</option>
                    <option value="mtech">M.tech</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Semester</label>
                <select  disabled="disabled"  name="sem" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                  <option selected value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="date">Academic Year</label>
                  <input  disabled="disabled"  name="name" type="date" class="form-control" id="date">
                </div>
              </div>
            </div>


            <div class="row">
              <table class="table">
              <thead>
              <tr> 
                <th scope="col">Courses No.</th>
                <th scope="col" colspan="4">Course Title</th>
                <th scope="col">Units</th>
                <th scope="col">Grade/Report</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><div class="form-group">
               
                <input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp">
              </div></th>
                <td  colspan="4"><div class="form-group">
                
                <input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp">
                
              </div></td>
                <td><div class="form-group">
                <input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp">
                
              </div></td>
                <td><div class="form-group">
                <input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp">
                
              </div></td>
              </tr>
              <tr>
                <th scope="row"><div class="form-group">
           
                <input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" >
                
              </div></th>
                <td  colspan="4"><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp"></td>
                <td><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp"></td>
                <td><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp"></td>
              </tr>
              <tr>
                <th scope="row"><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></th>
                <td  colspan="4"><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></td>
                <td><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></td>
                <td><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></td>
              </tr>
              <tr>
                <th scope="row"><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></th>
                <td  colspan="4"><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></td>
                <td><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></td>
                <td><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></td>
              </tr>
              <tr>
                <th scope="row"><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></th>
                <td  colspan="4"><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></td>
                <td><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></td>
                <td><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></td>
              </tr>
              <tr>
                <th scope="row"><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></th>
                <td  colspan="4"><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></td>
                <td><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></td>
                <td><input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" ></td>
              </tr>
            </tbody>
          </table>
            </div>
            <div class="row ">
            <div class="col-lg-1 offset-lg-4">
              <a href="#"style="width:100%" type="button" class="btn btn-secondary">First</a>
            </div>
            <div class="col-lg-1">
              <a href="#"style="width:100%" type="button" class="btn btn-primary">Preview</a>
            </div>
            <div class="col-lg-1">
              <a href="#"style="width:100%" type="button" class="btn btn-primary">Next</a>
            </div>
            <div class="col-lg-1">
              <a href="#"style="width:100%" type="button" class="btn btn-secondary">Last</a>
            </div>
         </div>
         <br>
         <br>
            <a href="#"style="width:20%" type="button" class="btn btn-secondary">Edit</a>
            <a href="#"style="width:20%" type="button" class="btn btn-dark">Update</a>
            <a href="#"style="width:20%" type="button" class="btn btn-danger">Delete</a>
            <a href="#"style="width:20%" type="button" class="btn btn-success">Save</a>
            <br>
            <br>
            <button style="width:100%"type="button" class="btn btn-primary">Submit</button>
          </form>
            </div>
          </div>
        </div>
        <!-- -------------------------------end        -->
  
      </div>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <!-- -----------------------------------start  -->  
         <div class="col">
            <div id="#a">
              <div class="row">
                <form style="margin-left:70%"class="form-inline my-2 my-lg-0" action="" method="post">
                  <input class="form-control mr-sm-2" required="required" name="val" type="search" placeholder="Enter UID" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            <form>
              <div class="form-group">
                <label for="uid">UID</label>
                <input name="uid"type="text" disabled="disabled" class="form-control" id="uid" aria-describedby="emailHelp" placeholder="University UID"> 
              </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input name="name" disabled="disabled" type="text" class="form-control" id="name" placeholder="Name">
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group col-md-4">
                    <label for="inputState">Programe</label>
                    <select  disabled="disabled"  name="programe"id="inputState" class="form-control">
                      <option selected value="bca">BCA</option>
                      <option value="bba">BBA</option>
                      <option value="diploma">Diploma</option>
                      <option value="mca">MCA</option>
                      <option value="mba">MBA</option>
                      <option value="mtech">M.tech</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Semester</label>
                  <select  disabled="disabled"  name="sem" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="date">Academic Year</label>
                    <input  disabled="disabled"  name="name" type="date" class="form-control" id="date">
                  </div>
                </div>
              </div>  
              <br>
              <br>
               <div class="row">
                  <div class="col-lg-1  offset-lg-4">
                    <a href="#"style="width:100%" type="button" class="btn btn-secondary">First</a>
                  </div>
                  <div class="col-lg-1">
                    <a href="#"style="width:100%" type="button" class="btn btn-primary">Preview</a>
                  </div>
                  <div class="col-lg-1">
                    <a href="#"style="width:100%" type="button" class="btn btn-primary">Next</a>
                  </div>
                  <div class="col-lg-1">
                    <a href="#"style="width:100%" type="button" class="btn btn-secondary">Last</a>
                  </div>
               </div>
              <br><br>           
              <a href="#"style="width:20%" type="button" class="btn btn-secondary">Edit</a>
              <a href="#"style="width:20%" type="button" class="btn btn-dark">Update</a>
              <a href="#"style="width:20%" type="button" class="btn btn-danger">Delete</a>
              <a href="#"style="width:20%" type="button" class="btn btn-success">Save</a>
              <br>
              <br>
              <button style="width:100%"type="button" class="btn btn-primary">Submit</button>
            </form>
          </div>
          </div>
        <!-- -------------------------------end        -->
      </div>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <!-- -----------------------------------start  --> 
        <h1>Login informations</h1> 
        <ul class="list-group">
        <% list.forEach(function(item){%>
          <li class="list-group-item list-group-item-light"><%=item.email%><pre><%=item.createdAt%>/pre></li>
        <%})%>
        
      </ul>
        <!-- -------------------------------end        -->
      </div>
    </div>
  </div>
</div>

<div style="margin-top:500px" class="row bg-success">
    <div class="col-lg-4">
        <strong style="font-weight:bold;font-size:30px"><%=user%></strong> <small style="font-weight:bold;color:white">you are login.</small>
    </div>
</div>



