<br>
</br>
<div class="container text-center">
<form action="/bca/result"method="post">
    <div class="row">
        <div  class="offset-lg-5 ">
            <label for="na">Name</label>
        </div>
        <div class="col-lg-3">
            <input name="nm"type="text" class="form-control" id="na" aria-describedby="emailHelp" placeholder="Name" required="required" >
    
        </div>
    </div>
    <br>
    <div class="row">
        
        <div  class="offset-lg-5 ">
            <label for="ui"><pre>   <strong>UID</strong></pre></label>
        </div>
        <div  class="col-lg-4">
            <input type="text" name="uid" class="form-control" id="ui" aria-describedby="emailHelp" placeholder="University UID" required="required" >
    
        </div>
    </div>
    </br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>