<hr>
<div class="row text-center">
    <div style="margin:0 auto" class"col-lg-6">
        <h1 class=" text-primary">Welcome to icfai university Jharkhand</h1>
    </div>
</div>
<hr>

<div class="row ">
    <div class="col-lg-3 border">
        <div class="row mb-2">
        <img src="/images/news/new dron.jpg"  alt="Cinque Terre" width="100%" height="250">
        </div>
        <div class="row border mb-2">
        <img src="/images/news/newicfai.png"  alt="Cinque Terre" width="100%" height="350">
        </div>
        <div class="row ">
        <img src="/images/news/newsicfai.png"  alt="Cinque Terre" width="100%" height="350">
        </div>
    </div>
    <div class="col-lg-6  text-center">
        
        <h5>
        ICFAI University, Jharkhand, or in its full name Institute of Chartered Financial Analysts of India University, Jharkhand, is a private university located in Ranchi, Jharkhand, India.<br></br>
            The ICFAI University, Jharkhand was established under sub-Section (2) of Section 4 of the Institute of Chartered Financial Analysts of India University Act, 2006 (Jharkhand Act 08, 2007). The University is recognised by UGC under section 2(f) of UGC Act, 1956.
            <a href="#"> »»» </a>
		</h5>
    </div>
    <div class="col-lg-3 border bg-dark">
        <div class='row mb-2'>
            <h4 style="font-weight:bold; margin:0 auto;color:red;text-decoration:underline">Notice board</h4>
        </div>
        <div class="row" style="margin-top:40px;text-decoration:underline ">
            <div style="margin:0 auto" class="list-group">
               <ul style="list-style-type:none">
                    <li> <a class="blink_me1" href="/bca">BCA result declare --></a></li>
                    <li> <a class="blink_me2" href="/bca">Exam notice --></a></li>
               </ul>
            </div>
            <style>
            .blink_me1 {
                animation: blinker 2s linear infinite;
                color:green;
              }
              .blink_me2{
                animation: blinker 5s linear infinite;
                color:green;
              }
              
              @keyframes blinker {
                50% {
                  opacity: 10;
                  color:red;
                  font-size:30px;
                },
                10%{
                    color:blue;
                }
              }

            </style>
        </div>
    </div>
</div>


