<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Diploma / UG Programs
            </button>
        </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="carousel slide" id="myCarousel1" data-ride="carousel">
                <a class="left carousel-control" role="button" href="#myCarousel1" data-slide="prev"> 
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
                    <span class="sr-only">Previous</span> 
                </a> 
                <a class="right carousel-control" role="button" href="#myCarousel1" data-slide="next"> 
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
                    <span class="sr-only">Next</span> 
                </a> 
            </div>
            <div class="page-width" id="intro">
                <div class="row">
                    <div class="tab"><br>
                        <div class="tabcontent" id="Description" style="display: block;">
                            <div class="page-width" id="intro">
                                <h6 class="clr2"><span class="text-primary"> Diploma </span>Program </h6>
                                <div class="bdr0"></div>
                                <div class="tab">
                                    <div class="row">
                                        <div class="col-sm-6"><img src="/images/diploma-ug/diploma.jpg"></div>
                                        <div class="col-sm-6">
                                            <p class="p">The Diploma in Technology (Polytechnic) Program is a three-year, six-semester, full-time, campus-based program, offered in Civil Engineering, Computer Science &amp; Engineering (CSE) and Electronics &amp; Communications Engineering (ECE) and Mining Engineering. <br>
                                                <a style="color:#c95454;" href="#">Read more »</a>
                                            </p>																														
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h6 class="clr2"> <span class="text-primary">B.Tech </span>Program</h6>
                                <div class="bdr0"></div>
                                <div class="tab">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img src="/images/diploma-ug/btech1.jpg">
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="p">The B.Tech. Program is a four-year, eight-semester, full-time, campus-based program. The Program provides cutting edge education to equip students with comprehensive and critical understanding in various branches of engineering. <br>
                                            <a class="ab" style="color:#c95454;" href="#">Read more »</a></p> 
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h6 class="clr2"> <span class="text-primary">B.Tech.(Lateral Entry) </span>Program</h6>
                            <div class="bdr0"></div>
                            <div class="tab">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="/images/diploma-ug/btech2.jpg">
                                </div>
                                <div class="col-sm-6">
                                    <p class="p">Pass in 3 year ‘Diploma in Engineering’ (in the respective branch) with
                                        50% and above aggregate marks. Students in their final year of Diploma Program can also apply.<br>
                                        <a style="color:#c95454;" href="#">Read more »</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h6 class="clr2"> 
                            <span class="text-primary">BBA </span>Program
                        </h6>
                        <div class="bdr0">
                            <div class="tab">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="/images/diploma-ug/bba.jpg">
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="p">The BBA Program is a 3-year campus-based program designed to
                                            enhance the skills and competencies of talented and ambitious young aspirants.<br>
                                            <a style="color:#c95454;" href="#">Read more »</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h6 class="clr2"> 
                            <span class="text-primary">B.Com.(Hons.) </span>Program
                        </h6>
                        <div class="bdr0">
                            <div class="tab">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="/images/diploma-ug/bcom.jpg">
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="p">The Bachelor of Commerce B.Com (Hons.) Program is a 3-year campus based program
                                            offered by the University.<br>
                                            <a style="color:#c95454;" href="#">Read more »</a>
                                        </p>                                  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h6 class="clr2"> 
                          <span class="text-primary">BCA </span>Program 
                        </h6>
                        <div class="bdr0">
                            <div class="tab">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="/images/diploma-ug/bca.jpg">
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="p">The BCA Program focuses on various areas of IT and prepares students for a career in the field of IT or pursue MCA or MBA degree program in due course. <br>
                                            <a style="color:#c95454;" href="#">Read more »</a>
                                        </p>                                  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h6 class="clr2"> 
                            <span class="text-primary">The BA (Hons.)   </span>Program 
                        </h6>
                        <div class="bdr0"></div>
                        <div class="tab">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="/images/diploma-ug/ballb.jpg">
                                </div>
                                <div class="col-sm-6">
                                    <p class="p">The Bachelor of Arts (Honours) in Journalism and Mass Communication is a three year, six semester, full-time, campus-based program.<br>
                                        <a style="color:#c95454;" href="#">Read more »</a>
                                    </p>                                  
                                </div>
                            </div>
                        </div>
                        <br>
                        <h6 class="clr2"> 
                            <span class="text-primary">BBA-LL.B (Hons.)   </span>Program 
                        </h6>
                        <div class="bdr0"></div>
                        <div class="tab">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="/images/diploma-ug/btech4.jpg">
                                </div>
                                <div class="col-sm-6">
                                    <p class="p">The BBA-LL.B (Hons) Program is a 5 year full-time program, offered by the University with the outlook of imparting a thorough and deep knowledge of the law courses to the students. The Program is contemporary and rigorous with innovatively designed curriculum. <br>
                                        <a style="color:#c95454;" href="#">Read more »</a>
                                    </p>                                  
                                </div>
                            </div>
                        </div>
                        <br>                      
                    </div>	
                </div>
             
            </div>
        </div>
    </div>
</div>
</div>
             
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          PG Programs
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <div class="carousel slide" id="myCarousel1" data-ride="carousel">
          <a class="left carousel-control" role="button" href="#myCarousel1" data-slide="prev"> 
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
              <span class="sr-only">Previous</span> 
          </a> 
          <a class="right carousel-control" role="button" href="#myCarousel1" data-slide="next"> 
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
              <span class="sr-only">Next</span> 
          </a> 
      </div>
      <div class="page-width" id="intro">
          <div class="row">
              <div class="tab"><br>
                  <div class="tabcontent" id="Description" style="display: block;">
                      <div class="page-width" id="intro">
                          <h6 class="clr2"><span class="text-primary"> MBA </span>Program </h6>
                          <div class="bdr0"></div>
                          <div class="tab">
                              <div class="row">
                                <div class="col-sm-6">
                                    <img src="/images/pg/mba.jpg">
                                </div>
                                <div class="col-sm-6">
                                  <p class="p">The MBA Program of the University prepares the students with the knowledge, skills and strategic perspectives essential to business leadership and a managerial career in the world. <br>
                                      <a style="color:#c95454;" href="#">Read more »</a>
                                  </p>																														
                              </div>
                          </div>
                      </div>
                      <br>
                      <h6 class="clr2"> <span class="text-primary">MBA</span> for working Professionals</h6>
                      <div class="bdr0"></div>
                      <div class="tab">
                          <div class="row">
                              <div class="col-sm-6">
                                  <img src="/images/pg/prof.jpg">
                               </div>
                              <div class="col-sm-6">
                                  <p class="p">The MBA Program for Working Professionals was designed to enable Working Professionals to pursue MBA, without leaving their current jobs. <br>
                                  <a class="ab" style="color:#c95454;" href="#">Read more »</a></p> 
                              </div>
                          </div>
                      </div>
                      <br>
                <h6 class="clr2"> <span class="text-primary">MCA </span>Program</h6>
                <div class="bdr0"></div>
                  <div class="tab">
                      <div class="row">
                          <div class="col-sm-6">
                              <img src="/images/pg/mca.jpg">
                          </div>
                          <div class="col-sm-6">
                              <p class="p">The Master of Computer Applications (MCA) is a three year, six semester, full-time, campus-based program, with a view to impart the students an in-depth academic base in IT and hands-on skills in computer applications so that they can build an advanced career in IT.<br>
                                  <a style="color:#c95454;" href="#">Read more »</a>
                              </p>
                            
                        </div>
                    </div>
                </div>
                <br>
            </div>
            </div>
            </div>
            </div>
            </div>
       
      </div>
    </div>
  </div>
  <div class="card">
        <div class="card-header" id="headingThree">
         <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Doctoral Programs
            </button>
            </h5>
        </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <div class="carousel slide" id="myCarousel1" data-ride="carousel">
          <a class="left carousel-control" role="button" href="#myCarousel1" data-slide="prev"> 
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
              <span class="sr-only">Previous</span> 
          </a> 
          <a class="right carousel-control" role="button" href="#myCarousel1" data-slide="next"> 
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
              <span class="sr-only">Next</span> 
          </a> 
      </div>
      <div class="page-width" id="intro">
          <div class="row">
              <div class="tab"><br>
                  <div class="tabcontent" id="Description" style="display: block;">
                      <div class="page-width" id="intro">
                          <h6 class="clr2"><span class="text-primary"> Ph.D.(Part-time) </span>Program </h6>
                          <div class="bdr0"></div>
                          <div class="tab">
                              <div class="row">
                                <div class="col-sm-6"><img src="/images/doctoral/phd.jpg"></div>
                                <div class="col-sm-6">
                                  <p class="p">the Part-time Ph.D. Program in Management is designed for practicing corporate executives and faculty members who aspire to become thought leaders in the domain of management. <br>
                                      <a style="color:#c95454;" href="#">Read more »</a>
                                  </p>																														
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
      </div>
    </div>
  </div>
</div>